{{define "title"}}Home{{end}}

{{define "login"}}highlighted{{end}}
{{define "main"}}
    <form class="login" action="/notes" method="get">
        <h3>Provider</h3>
        <div class="username">
            <label for="user">Username: </label>
            <input type="text" id="user">
        </div>
        <div class="password">
            <label for="pass">Password: </label>
            <input type="text" id="pass">
        </div>
        <input type="submit" value="Login" class="submit">
    </form>
    <form class="login" action="/notes-admin" method="get">
        <h3>Admin</h3>
        <div class="username">
            <label for="auser">Username: </label>
            <input type="text" id="auser" >
        </div>
        <div class="password">
            <label for="apass">Password: </label>
            <input type="text" id="apass" >
        </div>
        <input type="submit" value="Login">
    </form>

{{end}}