{{define "title"}}Progress Note{{end}}
{{define "note"}}highlighted{{end}}
{{define "main"}}
<h1>Progress Note</h1>
<form action="/adminnoteview" method="get">
        
        <fieldset class="userdata">
            <legend>Session Data</legend>
            <div class="patient">
                <label for="patient">Select Patient:</label> 
                <select id="patient" name="patient">
                    <option value="patient1">Patient 1</option>
                    <option value="patient2">Patient 2</option>
                    <option value="patient3">Patient 3</option>
                    <option value="patient4">Patient 4</option>
            </select>
            </div> 
            <div class="service">
                <label for="servicetype">Type of Service:</label> 
                <select id="servicetype" name="servicetype">
                    <option value="service1">Service 1</option>
                    <option value="service2">Service 2</option>
                    <option value="service3">Service 3</option>
                    <option value="service4">Service 4</option>
                </select>
            </div>
            <div class="date">
                <label for="servicedate">Date of Service:</label> 
                <input type="date" id="servicedate" name="servicedate"> 
            </div>
            <div class="starttime">
                <label for="starttime">Session Start Time:</label> 
                <input type="time" id="starttime" name="starttime"> 
            </div>
            <div class="endtime">
                <label for="endtime">Session End Time:</label> 
                <input type="time" id="endtime" name="endtime"> 
            </div>
        </fieldset>
        <fieldset class="note">
            <legend>Notes</legend>
            <div>
                <label for="summary">Summary of Treatment:</label> 
                <textarea id="summary" name="summary" cols="55" rows="4"></textarea>
            </div>
            <div>
                <label for="progress">Progress with Overall Treatment Plan Goals/Objectives:</label> 
                <textarea id="progress" name="progress" cols="55" rows="4"></textarea>
            </div>
            <div>
                <label for="responsereaction">Response/Reaction to Treatment Interventions:</label> 
                <textarea id="responsereaction" name="responsereaction" cols="55" rows="4"></textarea> 
            </div>
            <div>
                <label for="assessmentstatus">Assessment of Patient Mental Health Status</label> 
                <textarea id="assessmentstatus" name="assessmentstatus" cols="55" rows="4"></textarea>
            </div>
            <div>
                <label for="riskfactors">Patient Risk Factors:</label> 
                <textarea id="riskfactors" name="riskfactors" cols="55" rows="4"></textarea>
            </div>
            <div>
                <label for="emergencyinterventions">Emergency Interventions:</label> 
                <textarea id="emergencyinterventions" name="emergencyinterventions" cols="55" rows="4"></textarea>
            </div>
        </fieldset>
        <input type="submit" value="Submit">

    </form>
{{end}}