{{define "title"}}Progress Note Step 6/7{{end}}
{{define "main"}}
<label for="riskfactors"><h3>Patient Risk Factors:</h3></label>
<form class="progressnote" id="progressnote" action="/add-note-7" method="post">
        <textarea id="riskfactors" name="riskfactors" cols="55" rows="4"></textarea>
        <div class="bnbuttons">
            <button form="progressnote" type="submit" formaction="/add-note-5" class="backbutton">Back</button>
            <button form="progressnote" type="submit">Next</button>
        </div>
</form>
{{end}}