{{define "title"}}Progress Note Step 5/7{{end}}
{{define "main"}}
<label for="assessmentstatus"><h3>Assessment of Patient Mental Health Status</h3></label>
<form class="progressnote" id="progressnote" action="/add-note-6" method="post">
        <textarea id="assessmentstatus" name="assessmentstatus" cols="55" rows="4"></textarea>
        <div class="bnbuttons">
            <button form="progressnote" type="submit" formaction="/add-note-4" class="backbutton">Back</button>
            <button form="progressnote" type="submit">Next</button>
        </div>
</form>
{{end}}