{{define "title"}}Progress Note Step 2/7{{end}}
{{define "main"}}
<label for="summary"><h3>Summary of Treatment</h3></label>
<form class="progressnote" id="progressnote" action="/add-note-3" method="post">
        <textarea id="summary" name="summary" cols="55" rows="4"></textarea>
        <div class="bnbuttons">
            <button form="progressnote" type="submit" formaction="/add-note-1" class="backbutton">Back</button>
            <button form="progressnote" type="submit">Next</button>
        </div>
</form>
{{end}}