{{define "title"}}Progress Note Step 1/7{{end}}
{{define "main"}}
<h3>Patient Data</h3>
<form class="progressnote" id="progressnote" action="/add-note-2" method="post">
    <div>
        <label for="patient">Select Patient:</label> 
        <select id="patient" name="patient">
            <option value="patient1">Patient 1</option>
            <option value="patient2">Patient 2</option>
            <option value="patient3">Patient 3</option>
            <option value="patient4">Patient 4</option>
        </select>
    </div> 
    <div>
        <label for="servicetype">Type of Service:</label> 
        <select id="servicetype" name="servicetype">
            <option value="service1">Service 1</option>
            <option value="service2">Service 2</option>
            <option value="service3">Service 3</option>
            <option value="service4">Service 4</option>
        </select>
    </div>
    <div>
        <label for="servicedate">Date of Service:</label> 
        <input type="date" id="servicedate" name="servicedate"> 
    </div>
    <div>
        <label for="starttime">Session Start Time:</label> 
        <input type="time" id="starttime" name="starttime"> 
    </div>
    <div>
        <label for="endtime">Session End Time:</label> 
        <input type="time" id="endtime" name="endtime"> 
    </div>
    <div class="bnbuttons">
        <div></div>
        <button form="progressnote" type="submit">Next</button>
    </div>
</form>
{{end}}