{{define "title"}}Progress Note Step 7/7{{end}}
{{define "main"}}
<label for="emergencyinterventions"><h3>Emergency Interventions:</h3></label>
<form class="progressnote" id="progressnote" action="/note-admin" method="post">
        <textarea id="emergencyinterventions" name="emergencyinterventions" cols="55" rows="4"></textarea>
        <div class="bnbuttons">
            <button form="progressnote" type="submit" formaction="/add-note-6" class="backbutton">Back</button>
            <button form="progressnote" type="submit">Submit</button>
        </div>
</form>
{{end}}