{{define "title"}}Progress Note Step 4/7{{end}}
{{define "main"}}
<label for="response"><h3>Response/Reaction to Treatment Interventions:</h3></label>
<form class="progressnote" id="progressnote" action="/add-note-5" method="post">
        <textarea id="response" name="response" cols="55" rows="4"></textarea>
        <div class="bnbuttons">
            <button form="progressnote" type="submit" formaction="/add-note-3" class="backbutton">Back</button>
            <button form="progressnote" type="submit">Next</button>
        </div>
</form>
{{end}}