{{define "title"}}Progress Note Step 3/7{{end}}
{{define "main"}}
<label for="progress"><h3>Progress with Overall Treatment Plan Goals/Objectives:</h3></label>
<form class="progressnote" id="progressnote" action="/add-note-4" method="post">
        <textarea id="progress" name="progress" cols="55" rows="4"></textarea>
        <div class="bnbuttons">
            <button form="progressnote" type="submit" formaction="/add-note-2" class="backbutton">Back</button>
            <button form="progressnote" type="submit">Next</button>
        </div>
</form>
{{end}}