{{define "title"}}Note{{end}}
    {{define "main"}}
        <h1>Progress Note</h1>
  
        <div class="note">
            <ul class="note-info">
                <li>
                    <b>Note ID:</b> 0000021
                </li>

                <li>
                    <b>Patient: </b> First Last 
                </li>
                <li>
                    <b>Provider: </b> First Last
                </li>
                <li>
                    <b>Service: </b> Service1
                </li>
                <li>
                    <b>Date of Service: </b> 05/25/2024
                </li>

                <li>
                    <b>Time: </b> 09:00AM to 11:00AM
                </li>
                <li>
                    <b>Status: </b> Pending
                </li>
            </ul>
            <div class="note-note">
                <p>
                    <b>Summary of Service:</b> <br>
                        During today's session, the focus was on improving communication and social interaction skills 
                        in the context of autism spectrum disorder (ASD).Patient engaged in structured activities 
                        designed to enhance verbal and non-verbal communication, as well as peer interaction.
                </p>

                <p>
                    <b>Progress with Overall Treatment Plan Goals/Objectives:</b> <br>
                        Patient made notable progress in using visual communication tools, such as picture cards and sign 
                        language, to express needs and preferences. Demonstrated increased engagement in joint attention 
                        activities and showed interest in turn-taking during social games.
                </p>

                <p>
                    <b>Response/Reaction to Treatment Interventions:</b> <br>
                        Patient responded positively to the use of visual supports and structured routines, which helped 
                        reduce anxiety and promote participation. Showed enthusiasm for sensory activities and 
                        demonstrated improved self-regulation during sensory play.
                </p> 

                <p>
                    <b>Assessment of Patient Mental Health Status:</b> <br>
                        Patient's mental health status during the session appeared stable, with occasional sensory 
                        sensitivities and challenges in regulating emotions. Overall, displayed a positive attitude and 
                        demonstrated flexibility in adapting to various activities.
                </p>

                <p>
                    <b>Patient Risk Factors:</b> <br>
                        Patient's risk factors include difficulty in understanding social cues and managing sensory 
                        input, which may lead to frustration or agitation in certain situations. Caregivers are 
                        encouraged to continue implementing strategies to support emotional regulation and sensory needs.
                </p>

                <p>
                    <b>Emergency Interventions:</b> <br>
                        No emergencies arose during today's session. Caregivers were provided with guidance on managing 
                        potential meltdowns or sensory overload incidents, along with access to support resources for 
                        further assistance if required.
                </p>
            </ul>
            <button type="submit" action="/notes" method="get">Back</button>
        </div>
{{end}}